.cart-list{
    width: 1200px;
    margin: auto;
    padding-bottom: 200px;
}

.cart-list-title{
    padding: 20px 0;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.cart-empty {
    text-align: center;
}