.cart-list{
    width: 80vw;
    margin: auto;
    padding-bottom: 10vh;
}

.cart-list-title{
    padding: 20px 0;
    margin-bottom: 20px;
    padding-left: 0.5rem;
    text-align: left;
    border-bottom: 4px solid #373f49;
    font-size: 2.5rem;
}

.cart-empty {
    text-align: center;
}