.login-box{
    width: 40vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    border: none;
    padding: 100px;
    margin-bottom: 200px;
}

.textId, .textPw {
    width: 400px;
    height: 15px;
    margin-bottom: 15px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 15px;
}

.forgotPass {
    padding-bottom: 40px;
    padding-left: 5px;
    font-weight: 600;
    color: #4a73ef;
}

h2 {
    text-align: center;
    padding-bottom: 60px;
    font-size: 40px;
}

.loginBtn {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.loginButton {
    width: 432px;
    height: 45px;
    border: none;
    background-color: #4a83ef;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}