.login-box{
    width: 480px;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 20px;
    border: 2px solid #d6d6d6;
    padding: 100px;
    margin-bottom: 200px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 5px 5px rgba(0,0,0,0.05);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.textId, .textPw {
    width: 400px;
    height: 15x;
    margin-bottom: 20px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 15px;
}

h2 {
    text-align: center;
    padding-bottom: 40px;
}

.loginBtn {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.loginButton {
    width: 432px;
    height: 45px;
    border: none;
    background-color: #4a83ef;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}