.login-box{
    width: 40vw;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 100px;
    margin-bottom: 50px;
}

.textId, .textPw {
    width: 30vw;
    height: 15px;
    margin-bottom: 15px;
    font-size: 0.9rem;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 15px;
}

.forgotPass {
    padding-bottom: 40px;
    padding-left: 5px;
    font-weight: 600;
    color: #4a73ef;
    text-align: left;
    margin-left: 4rem;
}

.login-title {
    text-align: center;
    padding-bottom: 60px;
    font-size: 4rem;
    letter-spacing: -0.09rem;
}

.loginBtn {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.loginButton {
    width: 32vw;
    height: 45px;
    border: none;
    background-color: #4a83ef;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-bottom: 2.5rem;
}

.social-login-box {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.login-social {
    width: 32vw;
    height: 45px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 0.6rem;
    border: 1px solid #d6d6d6;
    font-size: 15px;
    font-weight: 600;
    color: #373f49;
    cursor: pointer;
}

.fab {
    margin-right: 0.5rem;
}

@media screen and (max-width:640px) {
    .textId, .textPw {
        width: 50vw;
    }
    .login-title {font-size: 3rem;}
    .loginButton, .login-social {
        width: 55vw;
    }
}