.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 50px;
    padding: 0 70px;
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1), 0 3px 5px rgba(0,0,0,0.05);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 50000;
    position: relative;
}

.nav:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.07), 0 7px 7px rgba(0,0,0,0.1);
}

h1 {
    color: #000;
    display:inline-block; 
    margin:0;
}

h1::after {
    display:block;
    content: '';
    border-bottom: solid 5px #ea2129;  
    border-radius: 75%;
    transform: scaleX(0);  
    transition: transform 200ms ease-in-out;
}

h1:hover:after { transform: scaleX(1.05); }

.nav-title {
    position: relative;
    cursor: pointer;
    font-size: 35px;
    color: #000000;
    letter-spacing: -0.9px;
}

.user-box {
}

.nav-title:after{  transform-origin:  0% 50%; }

.fas.fa-shopping-cart {
    margin-right: 40px;
    color: #373f49;
}

.fas.fa-shopping-cart:hover {
    color: #1d7ecc;
}

.fas.fa-user{
    color: #373f49;
}

.user {
    font-weight: 600;
    color: #373f49;
    cursor: pointer;
}

.fas{
    position: relative;
    cursor: pointer;
}

.cart-amount {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius:5px;
    background-color: red; 
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    display:flex;
    justify-content: center;
    align-items: center; 
}
.search-box{ 
    flex:0 1 50%;
}

.search-box input[type="text"]{
    width: 90%;
    height: 45px;
    padding: 0 16px;
    border-radius: 7px;
    font-size: 16px;
    border: 1px solid #d6d6d6;
}