.product-item-container{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    text-align: left;
}

.product-list-title{
    text-align: center;
    font-size: 2.3rem;
}

.product-list-subtitle {
    text-align: center;
    color: #797979;
    font-weight: 500;
    font-size: 1.1rem;
    margin-bottom: 60px;
    margin-top: -47px;
}