.product-item-container{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    margin: auto;
    text-align: left;
}

.product-list-title{
    text-align: center;
    margin-bottom: 24px;
    font-size: 40px;
}

.product-list-subtitle {
    text-align: center;
    color: #797979;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: -15px;
}